
/* ==================================================
   FOOTER ASTRA TECH
================================================== */


.site-footer{

    width:100%;

    background:#111827;

    color:white;

    border-top:4px solid #ff6f00;

    margin-top:auto;

    padding:25px 40px;

}





.footer-bottom{

    text-align:center;

    color:#ddd;

    font-size:14px;

}

